:root {
    --primary-color: #85e6c0;
    --secondary-color: #f7f4e8;
    --background-color: #daf3ea;
    --leter-color: #0b0b0d;
}

button {
    background-color: var(--primary-color);
    color: var(--leter-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

html, 
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    background-color: var(--secondary-color);
}

header {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.settings img, 
.new-conversation img {
    width: 30px;
    height: 30px;
}

.name-app {
    font-size: 20px;
    font-weight: bold;
    color: var(--leter-color);
}

#main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#login-section {
    width: 50%;
    display: flex;
    justify-content: center;
}

#login-screen {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: .5em;
    padding: 20px 10px;
    margin: 20px 10px;
    border: 3px solid var(--leter-color);
    border-radius: 10px;
    width: 40%;
}

#register-section {
    width: 50%;
    display: flex;
    justify-content: center;
}

#register-screen {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: .5em;
    padding: 20px 10px;
    margin: 20px 10px;
    border: 3px solid var(--leter-color);
    border-radius: 10px;
    width: 40%;
}

footer {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}